:root {
    --main: rgb(134, 173, 255);
    --width: 550px;
}

html{
    font-size: 62.7%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section{
    margin: 0 auto;
    padding: 40px 100px;
}

h1{
    font-size: 8rem;
    font-weight: 500;
}

h2{
    font-size: 6rem;
    font-family: Barlow;
    font-weight: 400;
}

h3{
    font-size: 3rem;
    font-weight: 300;
}

h4{
    font-size: 2.2rem;
    font-weight: 200;
}

h5{
    font-size: 1.8rem;
    font-weight: 200;
}

h6{
    font-size: 1.5rem;
    font-weight: 500;
}

div{
    font-size: 1.6rem;
}

#slider1{
    background-color: var(--main);
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}
.slider{
    animation: slider-anim 2s ease-in-out 0s;
    animation-fill-mode: forwards;
}
@keyframes slider-anim{
    0%{
        left: 0px;
    }
    100%{
        left: 50vw;
    }
}

.home-flex-main{
    display: flex;
    padding: 0rem 0rem 10rem 0rem;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    margin: 0rem;
}

.blah:hover{
    cursor: pointer;
    transition: 1s ease-out;
}

.color{
    position: relative;
    color: black;
    animation: colo-anim 3s linear 0s infinite;
}
@keyframes color-anim{
    0%{
        color: black;
    }
    50%{
        color: rgb(255, 9, 9);
    }
    100%{
        color: black;
    }
}