:root {
    --main: rgb(255, 159, 68);
    --black: black;
    --white: white;
    --width: 550px;
}

html{
    font-size: 62.7%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

i{
    font-size: 10rem;
}

.section{
    margin: 0 auto;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 8rem;
    font-weight: 500;
    margin: 30px;
}

h2{
    font-size: 6rem;
    font-weight: 500;
    margin: 10px;
}

h3{
    font-size: 4rem;
    font-weight: 300;
    margin: 5px;
}

h4{
    font-size: 2.2rem;
    font-weight: 200;
}

h5{
    font-size: 1.8rem;
    font-weight: 200;
}

h6{
    font-size: 1.5rem;
    font-weight: 500;
}

div{
    font-size: 1.6rem;
}

.label{
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--main);
    background-color: white;
    width: min-content;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.419);
}

.button{
    display: inline-block;
    border: 3px solid white;
    border-radius: 50px;
    padding: .9rem 1.5rem;
    margin: 0;
    background: var(--main);
    color: white;
    font-family: inherit;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
    transition: 1s ease;
}
  
.button:hover, .button:focus {
    cursor: pointer;
}

.button:active {
    cursor: pointer;
    background: white;
    border: 3px solid var(--main);
    color: var(--main) !important;
}

#slider{
    background-color: var(--main);
    z-index: 0;
}

.slideR{
    animation: slideR-anim 1.5s ease-in-out 0s;
    animation-fill-mode: forwards;
}
@keyframes slideR-anim{
    0%{
        left: 0px;
    }
    100%{
        left: 50vw;
    }
}

.slideL{
    
    animation: slideL-anim 1.5s ease-in-out 0s;
    animation-fill-mode: forwards;
}
@keyframes slideL-anim{
    0%{
        left: 50vw;
    }
    100%{
        left: 0vw;
    }
}

.disappear{
    opacity: 100%;
    animation: disappear-anim .5s ease-in-out 0s;
    animation-fill-mode: forwards;
}
@keyframes disappear-anim{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

.appear{
    opacity: 0%;
    animation: appear-anim .5s ease-in-out 0s;
    animation-fill-mode: forwards;
}
@keyframes appear-anim{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#section1{
    z-index: 10;
    transition: 1s ease-in;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title1{
    position: relative;
    color: white;
    margin: 50px 0px;
}

#profile-flex-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
}

#profile-flex-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.stats-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title2{
    position: relative;
    color: var(--main);
}

#section2{
    z-index: -10;
}

#slideBtn{
    position: absolute;
    top: 50vh;
    left: 46.7vw;
    z-index: 500 !important;
}

#section3{
    z-index: 0;
}

.set{
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.set2{
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0px;
    left: 50vw;
}

#title3{
    position: relative;
    color: var(--main);
}

.deco{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 232, 189, 0.781);
    position: absolute;
    border-radius: 500px;
    top: 10px;
    left: 10px;
}
#deco1{
    background-color: rgba(255, 236, 200, 0.781);
    top: 180px;
    left: 90px;
    z-index: 30;
}
#deco2{
    background-color: rgba(252, 128, 26, 0.705);
    top: -70px;
    left: -70px;
    width: 300px;
    height: 300px;
    z-index: 30;
}
#deco3{
    background-color: rgba(255, 192, 98, 0.781);
    top: 90px;
    left: -40px;
    width: 200px;
    height: 200px;
    z-index: 30
}